.vis-navigation {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 45px;
    height: 45px;
    padding: 5px;
    overflow: hidden;
    font-size: 20px;
}
.vis-button.vis-up:after {
	content: "▲";    
	position: absolute;
    top: 0px;
    left: 15px;
}
.vis-button.vis-down:after {
	content: "▼";
	position: absolute;
    top: 30px;
    left: 15px;
}
.vis-button.vis-left:after {
	content: "◀";
	position: absolute;
    top: 15px;
    left: 0px;
}
.vis-button.vis-right:after {
	content: "▶";
	position: absolute;
    top: 15px;
    left: 30px;
}